<nav>
    <ul>
        <li><a href="/nse/company/{{.Ticker}}/feed">
                <h4><u>Feed</u></h4>
            </a></li>
        <li><a href="/nse/company/{{.Ticker}}/shp">
                <h4><u>Shareholding</u></h4>
            </a></li>
        <li><a href="/nse/company/{{.Ticker}}/insider">
                <h4><u>Insider</u></h4>
            </a></li>
        <li><a href="/nse/company/{{.Ticker}}/financials">
                <h4><u>Financials</u></h4>
            </a></li>
    </ul>
</nav>